
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oxygen&display=swap');
#carousel img{
    height: 550px;
}

#base{
  align-items: center;
  outline: none;
  border: none;
}
.card-body{
    text-align:center;
    background-color: lightseagreen;
    border-radius: 20px;
}
#card-text p{
    font-family: 'Oxygen', sans-serif;
    font-weight: bolder;
}
#card-text h1{
    font-family: 'Lobster', cursive;
}
#part2{
    margin-right:  0px;
}

.btns{
      background-color: rgb(221, 8, 8);
      color: white;
    outline: none;
    border: 1px black solid;
    border-radius: 10px;
    font-weight: bold;
    font-style: italic;
    padding: 5px 20px;
    text-decoration: none;
}
.btns:hover{
    background-color: white;
    color: black;
}
