
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oxygen&display=swap');
#carousel img{
    height: 550px;
}

#base{
  align-items: center;
  outline: none;
  border: none;
}
.card-body{
    text-align:center;
}
#card-text p{
    font-family: 'Oxygen', sans-serif;
    font-weight: bolder;
}
#card-text h1{
    font-family: 'Lobster', cursive;
}
#part2{
    margin-right:  0px;
}

.btns{
      background-color: black;
      color: white;
    outline: none;
    border: 1px black solid;
    border-radius: 10px;
    font-weight: bold;
    font-style: italic;
    padding: 5px 20px;
    text-decoration: none;
}
.btns:hover{
    background-color: white;
    color: black;
}
/* #product-data img{
    height: 250px;
    width: 300px;
    margin-left: 50px;
}
#product-data {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     overflow-x: hidden;
     grid-gap: 20px;

}
@media only  screen and (max-width:688px) {
    #product-data{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 50px;
        
    }   
}
@media only  screen and (min-width:689px) and (max-width:991px) {
    #product-data{
        grid-template-columns: repeat(2, 1fr);
        margin-left: 40px;
    }
    
}
@media only  screen and (min-width:992px) and (max-width:1920px) {
    #product-data{
        grid-template-columns: repeat(3, 1fr);
        margin-left: 200px;
    }
    
} */