@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,800&display=swap');
#email{
    width: 350px;
}
#pass{
    width: 350px;
}
#login-text{
    font-family: 'Nunito Sans', sans-serif;
    background: -webkit-linear-gradient(120deg, #ff00f7 ,#00d0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text 3s linear infinite;
}
@keyframes text {
    to{
        filter: hue-rotate(360deg);
    }
}

#register-ask{

    margin-right: 200px;
    text-decoration: none;
    color: black;
   
}
#register-ask:hover{
    color: red;
}
#login-btn{
    background-color: cyan;
    color: black;
    border: none;
}
#login-btn:hover{
    background-color:rgb(209, 0, 115);
    color: rgb(0, 0, 0);
    border: none;
}
.login-2 img{
  width: 50px;
  height: 50px;
}