
.contain-sp{
    margin: 100px 100px;
}
#card{
    border: 2px solid black;
    margin: 20px 0px;
}
#card:hover{
 cursor: pointer;
 background-color: cyan;
}
.contain-sp h1{
    text-shadow: 2px 1px 2px rgb(245, 7, 7);
    color: blue;
}
.special-cont{
    background-color: rgb(217, 252, 239);
    padding: 1%;
    margin: 3% 0%;
    border-radius: 10px;
}